@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

@font-face {
  font-family: "Minion Pro";
  src: url('/fonts/MinionPro/MinionPro-Regular.otf')
}

@font-face {
  font-family: "Din Condensed";
  src: url('/fonts/DinCondensed/D-DINCondensed.ttf')
}

@font-face {
  font-family: "din-1451-lt-pro-engschrift";
  src: url("/fonts/DIN1451StdEngschrift/DIN1451StdEngschrift.otf")
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Minion Pro', serif;
}

body {
  width: 100%;
  background-color: #FFFEF7;;
}

.site-wrapper {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  min-height: 100vh;
}

/* HEADER/NAV */

header {
  display: flex;
  align-items: center;
  height: 3rem;
  margin: auto;
  background-color: #1a2d40;
  font-family: 'Din Condensed', sans-serif;
  /* font-family: 'din-1451-lt-pro-engschrift', sans-serif; */
  
}

nav {
  margin-left: auto;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 5px 20px;
}

nav a:hover {
  color: #9CB7C6;
}

.nav-divider {
  color: #9CB7C6;
  font-size: 1.2rem;
}

/* PAGES */

.page-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page-heading {
  padding-top: 2rem;
  margin-left: 2rem;
}

/* RECIPE PAGE */

.recipe-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto; 
}

.recipe-card {
  /* border: grey dashed 2px; */
  /* width: 88vw; */
  margin: 1rem 2rem;
  font-family: Din Condensed;
  /* font-family: Fira Mono; */
}

.recipe-card-img {
  max-width: 100%;
}

.recipe-card-info {
  display: grid;
  grid-template-columns: 1fr 0.7fr 1fr;
  grid-template-rows: 1.5rem 2.2rem 1rem;
  grid-template-areas: 
    "name name name"
    "info info info"
    "prep cook serves"
  ;
  color: #2C3B4B;
  padding: 0.5rem 0 0.75rem 0;
  border-bottom: 1px solid #e7e4d3;
  /* border-bottom-color: linear-gradient(90deg, rgba(255,255,255,1) 15%, rgba(231,228,211,1) 50%, rgba(255,255,255,0) 85%);; */
}

.recipe-card-name {
  grid-area: name;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.recipe-card-extra-info {
  grid-area: info;
  font-size: 1rem;
  /* color: #5A6D82; */
}

.recipe-card-preptime,
.recipe-card-cooktime,
.recipe-card-serves {
  font-size: 1rem;
  align-self: end;
  color: #5A6D82;
  color: #1A2D40;
}

.recipe-card-preptime {
  grid-area: prep;
}

.recipe-card-cooktime {
  grid-area: cook;
  padding-top: 0.6rem;
  border-top: 1px solid #e7e4d3;
}

.recipe-card-serves {
  grid-area: serves;
}

/* INPUTS */

input, select {
  font-family: 'Fira Mono', monospace;
  color: #5c5b5b;
  outline: none;
}

input[type=text]:focus, textarea:focus{
  outline: none !important;
  border: 1px solid #555;
  transition: .5s;
}

/* LOADING SPINNER */


.spinner-container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spinner {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 8px solid #fdd1bf;
  border-top: 8px solid #ff9a83;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

/* UTILITY */

.new-line {
  white-space: pre-line;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #D7DCDE;
  color: whitesmoke;
}

.selected {
  background-color: #FF0051;
  color: #fcf5eb;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.monospace-font {
  font-family: 'Fira Mono', monospace;
}

.img {
  display: cover;
}

/* MEDIA QUERIES */

@media screen and (max-width: 550px) {
  header {
    flex-direction: column;
    height: 3.6rem;
  }
  
  nav {
    padding: 2px;
    margin: 0;
  }

  nav a {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 550px) {
  .recipe-card-container {
    flex-direction: row;
  }

  .recipe-card {
    max-width: 320px;
  }

}