@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

@font-face {
  font-family: "Minion Pro";
  src: url('/fonts/MinionPro/MinionPro-Regular.otf')
}

@font-face {
  font-family: "Din Condensed";
  src: url('/fonts/DinCondensed/D-DINCondensed.ttf')
}

@font-face {
  font-family: "din-1451-lt-pro-engschrift";
  src: url("/fonts/DIN1451StdEngschrift/DIN1451StdEngschrift.otf")
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Minion Pro', serif;
}

body {
  width: 100%;
  background-color: #fffef7;
}

.site-wrapper {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  min-height: 100vh;
}

/* HEADER/NAV */

header {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 3rem;
  margin: auto;
  background-color: #1a2d40;
  font-family: 'Din Condensed', sans-serif;
  /* font-family: 'din-1451-lt-pro-engschrift', sans-serif; */
  
}

nav {
  margin-left: auto;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 5px 20px;
}

nav a:hover {
  color: #9CB7C6;
}

.nav-divider {
  color: #9CB7C6;
  font-size: 1.2rem;
}

.back-btn {
  width: max-content;
  padding: 8px 8px 1rem 0;
  font-size: 0.875rem;
  color: #2C3B4B;
  cursor: pointer;
  text-decoration: underline;
}

/* PAGES */

.page-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem;
  padding: 2rem 1rem;
  background-color: #FFFEF7;
}

.page-heading {
  padding: 2rem 2rem;
  text-decoration: underline;
  font-family: Minion Pro;
  color: #1A2D40;
  font-size: 2rem;
}

/* RECIPES PAGE */

.search-form-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
  /* max-width: 560px; */
  /* flex-direction: column; */
}

.filter-input-wrapper {
  display: block;
  /* min-width: 400px; */
}

.filter-input {
  height: 2.6rem;
  border-radius: 0px;
  /* border: 2px solid #2C3B4B;
  background-color: #2C3B4B; */
  font-size: 1rem;
  font-family: 'Din Condensed', sans-serif;
  /* flex-grow: 0; */
  max-width: 30%;
  min-width: 115px;
  text-align: center;
}

.search-input-wrapper {
  position: relative;
}

.search-input-icon {
  position: absolute;
  line-height: 2.6rem;
  padding: 2px;
  padding-left: 9px;
  /* z-index: -1; */
}

.search-input {
  height: 2.6rem;
  /* max-width: 300px; */

  padding: 0px 3px 0px 28px;
  border-radius: 0px;
  border: 1px solid rgba(77, 77, 77, 0.15);
  background-color: #FFFEF7;
  color:#2C3B4B;
  font-size: 1rem;
  font-family: 'Din Condensed', sans-serif;
  flex-grow: 2;
  width: 100%;
  /* min-width: 60%; */
}



.search-input::placeholder {
  color: rgba(77, 77, 77, 0.25);
}

.filter-input::placeholder {
  color: #D7DCDE;
}

.recipe-card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.recipe-card {
  /* margin-bottom: 2rem; */
  font-family: Din Condensed;
  text-align: center;
}

.recipe-card-link {
  text-decoration: none;
}

.recipe-card-img {
  max-width: 100%;
}

.recipe-card-info {
  display: grid;
  grid-template-columns: 1fr 0.9fr 1fr;
  grid-template-rows: 1.5rem 2.5rem 1rem;
  grid-template-areas: 
    "name name name"
    "info info info"
    "prep cook serves"
  ;
  color: #2C3B4B;
  padding: 0.5rem 0 0.75rem 0;
  border-bottom: 1px solid #e7e4d3;
}

.recipe-card-name {
  grid-area: name;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.recipe-card-extra-info {
  grid-area: info;
  font-size: 1rem;
  /* color: #5A6D82; */
}

.recipe-card-preptime,
.recipe-card-cooktime,
.recipe-card-serves {
  font-size: 1rem;
  align-self: end;
  color: #5A6D82;
  color: #1A2D40;
}

.recipe-card-preptime {
  grid-area: prep;
}

.recipe-card-cooktime {
  grid-area: cook;
  padding-top: 0.6rem;
  border-top: 1px solid #e7e4d3;
}

.recipe-card-serves {
  grid-area: serves;
}

/* RECIPE PAGE */

.recipe-page .recipe-card {
  padding-bottom: 1rem;
}

.recipe-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  font-family: 'Din Condensed';
  color: #1A2D40;
}

.recipe-author a{
  /* text-decoration: none; */
  color: #2C3B4B;
}

.recipe-author a:visited {
  color: #1A2D40;
}

.ingredients-list-container {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  font-family: Din Condensed;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.ingredient-list-heading {
  border-top: 3px solid #2C3B4B;
  border-bottom: 1px solid #e7e4d3;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.5rem 0;
  letter-spacing: 0.5px;
  line-height: 1rem;
}

.ingredient-list {
  font-size: 0.75rem;
  line-height: 1rem;
  /* letter-spacing: 13px; */
}

.ingredient {
  display: flex;
  width: 100%;
  column-gap: 5px;
  border-bottom: 1px solid #e7e4d3;
}

.ingredient-quantity {
  display: flex;
  align-items: center;
  min-width: 90px;
  
  padding: 0.625rem;
  border-right: 1px solid #e7e4d3;
  font-size: 0.875rem;
  /* text-transform: lowercase; */
}

.ingredient-name {
  border-left: 1px solid #e7e4d3;
  /* width: auto; */
  font-size: 0.813rem;
  padding: 0.625rem;
}

.ingredient-instruction {
  text-transform: lowercase;
  font-size: 0.75rem; 
}


/* RECIPE-PAGE-DIRECTIONS */

.recipe-page-directions-heading {
  border-top: 3px solid #2C3B4B;
  border-bottom: 1px solid #e7e4d3;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.5rem 0;
  letter-spacing: 0.5px;
  line-height: 1rem;
  font-family: Din Condensed;
  text-transform: uppercase;
}

.recipe-page-directions-list {
  font-size: 1rem;
  list-style-type: none;  
}

.recipe-page-direction {
  display: flex;
  width: 100%;
  column-gap: 5px;
  border-bottom: 1px solid #e7e4d3;
  border-left: 3px solid #FFFEF7;
  cursor: pointer;
}

.direction-number {
  display: flex;
  align-items: center;
  min-width: 35px;
  /* min-width: 40px; */
  padding: 0.625rem;
  border-right: 1px solid #e7e4d3;
  font-family: Din Condensed;
  font-size: 0.875rem;
  background-color: #FFFEF7;
}

.direction-text {
  padding: 0.625rem;
  padding-right: 4px;
  border-left: 1px solid #e7e4d3;
  font-size: 1rem;
  background-color: #FFFEF7;
}

.currentDirection {
  border-left: solid 3px #2C3B4B;
}

/* INPUTS */

input, select {
  font-family: 'Fira Mono', monospace;
  color: #5c5b5b;
  outline: none;
}

input[type=text]:focus, textarea:focus{
  outline: none !important;
  border: 1px solid #555;
  transition: .5s;
}

/* LOADING SPINNER */


.spinner-container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spinner {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 8px solid #FFFEF7;
  border-top: 8px solid #DA704B;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

/* UTILITY */

.new-line {
  white-space: pre-line;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #D7DCDE;
  color: whitesmoke;
}

.selected {
  background-color: #FF0051;
  color: #fcf5eb;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.monospace-font {
  font-family: 'Fira Mono', monospace;
}

.img {
  display: cover;
}

/* SEARCH  */

/* input[type="search"] {
  border: 1px solid gray;
  padding: .2em .4em;
  border-radius: .2em;
} */

/* input[type="search"].dark {
  background: #222;
  color: #fff;
} */

/* input[type="search"].light {
  background: #fff;
  color: #222;
} */

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.33rem;
  width: 1.33rem;
  /* padding: 20px; */
  /* border-radius: 50em; */
  background: url(.\assets\svg\xmark-solid.svg) no-repeat 50% 50%;
  opacity: 0;
  pointer-events: none;
  border: 6px #fffef7 solid;
  /* border-bottom: 6px inherit solid; */
  /* color: #2C3B4B; */
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}

/* MEDIA QUERIES */

@media screen and (max-width: 650px) {
  .search-form-wrapper {
    flex-direction: column;
  }

  .filter-input {
    margin-left: 0;
    margin-right: auto;
  }
}

@media screen and (max-width: 550px) {
  header {
    flex-direction: column;
    height: 3.6rem;
  }
  
  nav {
    padding: 2px;
    margin: 0;
  }

  nav a {
    font-size: 0.9rem;
  }

  .page-container {
    padding: 1rem 1rem;
    margin: 1rem 1rem;
  }

  
  
}


@media screen and (min-width: 768px) {


  .page-container {
    padding: 2rem 2rem;
  }

  .recipe-page {
    display: grid;
    grid-template-areas: 
      "back ."
      "card ingredients"
      "directions directions"
    ;
    /* grid-template-rows: auto auto auto; */
    column-gap: 3rem;
    row-gap: 1rem;
    padding: 1rem 2rem;
    /* max-height: 90vh; */
  }

  .recipe-page .recipe-card-section {
    min-width: 260px;
    max-width: 460px;
    justify-self: center;
  }
  
  .back-btn {
    grid-area: back;
    padding: 8px 8px 8px 0;
  }

  .recipe-card-section {
    grid-area: card;
  }

  .ingredients-list-container {
    grid-area: ingredients;
  }

  .ingredient-name {
    font-size: 0.875rem;
  }

  .ingredient-instruction {
    font-size: 0.813rem;
  }

  .recipe-page-directions-container {
    grid-area: directions;
    /* font-size: 10rem; */
  }

  .direction-text {
    font-size: 1.1rem;
  }

  .recipe-info {
    grid-area: info;
  }

}

@media screen and (min-width: 1440px) {
  .recipe-page {
    grid-template-areas: 
      "back . ."
      "card ingredients directions"
    ;
  }
}